body{
background:#111;
color:#00ffee;
font-family:Arial;
text-align:center;
}

input,select{
padding:8px;
margin:5px;
background:#111;
border:2px solid #00ffee;
color:#00ffee;
border-radius:6px;
}

button{
padding:8px 15px;
margin:5px;
background:#111;
border:2px solid #ff00ff;
color:#ff00ff;
border-radius:6px;
cursor:pointer;
}

button:hover{
box-shadow:0 0 15px #ff00ff;
}

.link{
cursor:pointer;
color:#ff00ff;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
}

th,td{
border:1px solid #00ffee;
padding:6px;
}

.box{
border:1px solid #00ffee;
padding:8px;
max-height:200px;
overflow-y:auto;
margin:10px;
}
